<%- include('Header') -%>

    <body>

        <div class="container.is-fullhd" id="app">

            <!----------------------------------------------- header column ----------------------------------------------->
            <div class="container-header columns" style="height: 12vh;">

                <!---------------------------- logo ---------------------------->
                <div class="column is-2">
                    <%- include('Logo') -%>
                </div>

                <!---------------------------- title ---------------------------->
                <div class="column is-7">

                    <!----------------- title ----------------->
                    <div class="level">
                        <div class="level-left pt-5">
                            <span class="is-size-2-fullhd is-size-3-widescreen has-text-weight-medium has-text-black">My
                                Schedule</span>
                        </div>

                        <div class="level-right pt-5 btn-open">
                            <button type="submit" class="create-s button is-black" onclick="showModel()">
                                <i class="fas fa-solid fa-plus mr-3"></i>
                                <span>Create Schedule</span>
                            </button>
                        </div>
                    </div>

                </div>

                <!---------------------------- profile member ---------------------------->
                <div class="profile level column">
                    <div class="level-right pt-4" style="width: 100%;">
                        <%- include('Profile') -%>
                    </div>
                </div>
            </div>

            <div class="container-content columns" style="height: 88vh;">

                <!----------------------------------------------- navbar column ----------------------------------------------->
                <div class="content-navbar column is-2">

                    <!---------------------------- navbar ---------------------------->
                    <%- include('Navbar') -%>

                </div>

                <!----------------------------------------------- calendar column ----------------------------------------------->
                <div class="content-calendar column is-7">

                    <!---------------------------- FullCalendar ---------------------------->
                    <div id="calendar" class="calendar" style="width: 100%;">
                        <div class="fullcalendar calendar">
                            <header class="level m-0">
                                <div class="level-left">
                                    <p class="current-date has-text-black is-size-4"></p>
                                </div>
                                <div class="level-right">
                                    <span id="today" id="today-btn" class="todaybtn todayFull-btn"
                                        onclick="todayIcon()">Today</span>
                                    <div class="icons icons-full">
                                        <span id="prev"><i class='bx bxs-chevron-left is-size-4'></i></span>
                                        <span id="next"><i class='bx bxs-chevron-right is-size-4'></i></span>
                                    </div>
                                </div>

                            </header>
                            <table class="table is-bordered" style="width: 100%;">
                                <thead class="p-3">
                                    <tr class="weeks">
                                        <th>Sun</th>
                                        <th>Mon</th>
                                        <th>Tue</th>
                                        <th>Wed</th>
                                        <th>Thu</th>
                                        <th>Fri</th>
                                        <th>Sat</th>
                                    </tr>
                                </thead>
                                <tbody class="days"><!-- FullCalendar --></tbody>
                            </table>
                        </div>
                    </div>

                </div>

                <!----------------------------------------------- schedule column ----------------------------------------------->
                <div class="content-schedule column is-3">

                    <!---------------------------- Dynamic Calendar ---------------------------->
                    <div class="content-c columns mr-1" style="height: 50vh;">
                        <div class="calendar-box mr-5 ml-3 mt-3" style="width: 100%; height: 100%;">
                            <div class="dynaminCalendar calendar" style="width: 100%; height: auto;">
                                <header class="level m-0">
                                    <div class="level-left">
                                        <p class="current-date has-text-black ml-4"></p>
                                    </div>
                                    <div class="level-right">
                                        <span id="today" class="todaybtn todayDy-btn" onclick="todayIcon()">Today</span>
                                        <div class="icons icons-dynamic mr-2">
                                            <span id="prev"><i class='bx bxs-chevron-left has-text-black'></i></span>
                                            <span id="next"><i class='bx bxs-chevron-right has-text-black'></i></span>
                                        </div>
                                    </div>
                                </header>
                                <!-- Dynamic Calendar -->
                                <div class="dinamiccalendar pb-1">
                                    <ul class="weeks">
                                        <li>Sun</li>
                                        <li>Mon</li>
                                        <li>Tue</li>
                                        <li>Wed</li>
                                        <li>Thu</li>
                                        <li>Fri</li>
                                        <li>Sat</li>
                                    </ul>
                                    <ul class="days"></ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!---------------------------- schedule row ---------------------------->
                    <div class="content-tt columns" style="height: 38vh;">
                        <div class="today-schedule today-tasks column">

                            <div class="level columns" style="height: 5vh;">
                                <div class="level-left">
                                    <div class="column">
                                        <span
                                            class="has-text-black is-size-4-fullhd has-text-weight-medium is-size-5-widescreen">
                                            Today Schedule
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="columns" style="height: 32vh; overflow-y: auto; overflow-x: hidden;">
                                <div class="column mr-3">
                                    <% scheduleToday.forEach((item, index)=> {%>
                                        <div class="level schedule-box px-5 mb-4">
                                            <span id="schedule1" class="has-text-black">
                                                <%= item.schedule_act %>
                                            </span>
                                        </div>
                                        <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- modal-add-schedule -->
            <div class="modal model-addSchedule">
                <div class="modal-background"></div>
                <form method="POST" action="/Schedule">
                    <div class="modal-card">
                        <header class="modal-card-head">
                            <p class="modal-card-title has-text-weight-semibold">ADD SCHEDULE</p>
                            <a class="delete btn-close" aria-label="close"></a>
                        </header>
                        <!-- Content ... -->
                        <section class="modal-card-body">
                            <div class="field">
                                <label class="label">TITLE :</label>
                                <div class="control has-icons-left has-icons-right">
                                    <input class="input" type="text" name="schedule_act" id="schedule_act"
                                        placeholder="your title">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-book"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label for="date" class="label">DATE :</label>
                                <div class="control has-icons-left has-icons-right">
                                    <input type="date" id="schedule_date" name="schedule_date" class="input">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </section>
                        <footer class="modal-card-foot">
                            <button class="btn-create button is-black">Create</button>
                            <a class="button btn-cancle">Cancel</a>
                        </footer>
                    </div>
                </form>
            </div>
            <!-- modal-add-task -->

            <div id="schedule" data-schedule-all="<%= JSON.stringify(scheduleAll) %>"></div>

        </div>

        <!-- script -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
        <script src="/script/fullCalendar.js"></script>
        <script src="/script/dynamicCalendar.js"></script>
        <script src="/script/script.js"></script>
    </body>